@font-face
{
    font: {
        family : 'Yusei Magic';
        size: normal;
        weight: normal;
    }
    src: url('font/YuseiMagic-Regular.ttf') format('truetype');
}

body
{
    padding : 0;
    margin: 0;
    background: {
        image : url('https://images.wallpapersden.com/image/download/mountains-moon-trees-minimal_am1qaWWUmZqaraWkpJRmZ21lrWxnZQ.jpg');
        size : cover;
        repeat : fixed;
    }
    font-family: 'Yusei Magic';
}

#container
{
    background: {
        image : linear-gradient(to top, #677892, #828aa9, #9f9dbe, #beafd2, #dec2e5);
    } 
    width: 40%;
    padding: 30px;
    padding-bottom: 80px;
    margin: auto;
    margin-top: 250px;
    border: 1px solid #fff;
    border-radius: 50px;
    box-shadow: 20px 20px 40px rgb(86, 43, 95);
    text-align: center;
}

h1 
{
    color : #fff;
}

p
{
    color: #fff;
}

button
{
    border-radius: 20px;
    border : 1px solid #fff;
    font-family: 'Yusei Magic';
    background: linear-gradient(to right, #2e1a41, #4e3560, #715181, #956fa3, #bb8fc6);
    color: #fff;
}

input
{
    border-radius: 20px ;
}