@font-face
{
    font: {
        family : 'Fragment Core';
        size: normal;
        weight: normal;
    }
    src: url('../font/Fragmentcore.otf');
}

body
{
    padding : 0;
    margin: 0;
    background: rgb(218, 218, 218);
    font-family: 'Fragment Core';
    color: #000;
}

#container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}


button
{
    border-radius: 20px;
    border : 1px solid #fff;
    font-family: 'Fragment Core';
    margin-top: 10px;
}

input
{
    border-radius: 20px ;
    border: 1px solid #fff;
}