@font-face
{
    font: {
        family : 'Fragment Core';
        size: normal;
        weight: normal;
    }
    src: url('../font/Fragmentcore.otf');
}

body
{
    padding : 0;
    margin: 0;
    background: rgb(218, 218, 218);
    font-family: 'Fragment Core';
    color: #000;
}

#container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}


button
{
    border-radius: 20px;
    border : 1px solid #fff;
    font-family: 'Fragment Core';
    margin-top: 10px;
}

input
{
    border-radius: 20px ;
    border: 1px solid #fff;
}

//TYPING EFFECT
.typing
{
    margin-left: 10px;
}

.typing::after
{
    content : '';
    position: absolute;
    width: 1px;
    height: 5%;
    border-right: 1px solid #000;
    animation: blink 0.7s infinite ease;
}

@keyframes blink{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}